<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EcoSityHub</title>
  <!-- icon -->
   <link rel="icon" href="../assets/icons/icons8-натуральная-еда-48.png" type="image/png">
  <!-- styles -->
  <link rel="stylesheet" href="../assets/styles/shop.css" type="text/css">
  <link rel="stylesheet" href="../assets/styles/reset.css" type="text/css">
  <!-- font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <!-- font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
  <header class="header">
    <div class="container">
      <div class="header__items">
        <div class="header__logo">
          <p>EcoSityShop</p>
        </div>
        <div class="header__functions">
          <div class="header__search">
            <label for="search" class="header__search_input">
              <img src="../assets/icons/icons8-лупа-35.png" alt="Error" id="loup">
              <input type="text" id="search" placeholder="Search" id="input">
            </label>
          </div>
          <!-- Sayat & Baha -->
          <div class="header__basket">
            <a href="../pages/basket.html"><img src="../assets/icons/icons8-корзина-35.png" alt="Error" id="photo"></a>
          </div>
          <!-- / Sayat & Baha -->
          <div class="header__user">
            <img src="../assets/icons/icons8-пользователь-мужчина-в-кружке-35.png" alt="" id="photo">
          </div>
        </div>
      </div>
    </div>
  </header>
  <main class="main">
    <div class="container">
      <!-- Sayat & Baha -->
      <div class="main__items">
        
      </div>
    </div>
  </main>
  <aside class="aside">
    <div class="aside__user_info">
      <div class="aside__user_item">
        <div class="aside__user_logo">
          <img src="../assets/icons/icons8-пользователь-мужчина-в-кружке-100.png" style="min-width: 100px; min-height: 100px;" alt="">
        </div>
        <div class="aside__user_name">
          <p>User</p>
        </div>
      </div>
      <div class="aside__user_money">
        <div class="aside__user_dollars">
          <p>$</p>
          <p>15</p>
        </div>
        <div class="aside__user_bonus">
          <p style="text-decoration: overline;">B</p>
          <p>0</p>
        </div>
      </div>
    </div>
    <div class="aside__navigation_buttons">
      <a href="../pages/main.html" class="aside__navigation_button">
        <li>Main</li>
      </a>
      <a href="../pages/shop.html" class="aside__navigation_button">
        <li>Shop</li>
      </a>
      <a href="" class="aside__navigation_button">
        <li>Lider</li>
      </a>
    </div>
  </aside>
  <script src="../assets/scripts/shop.js"></script>
</body>
</html>